sublime-text/sync/User/Package Control.cache/*
python/ipython.symlink/profile_default/history.sqlite
sublime-text/sync/User/.SublimeREPLHistory/
sublime-text/sync/User/Package\ Control.last-run
sublime-text/sync/User/Package\ Control.merged-ca-bundle
sublime-text/sync/User/Package\ Control.system-ca-bundle
